<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeHub</title>
    <link rel="icon" href="/img/logo_pokeball.png" type="png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/header_abierto.css">
    <link rel="stylesheet" href="/css/footer_abierto.css">
    <link rel="stylesheet" href="/css/place_holder.css">
    <script src="/jscript/load_footer.js"></script>
    <script src="/jscript/dark-mode.js"></script> 
    <script src="/jscript/menu-perfil.js"></script> 

</head>
<body>
    <header>
        <div id="header-container">
            <div class="header" id="header">
                <a href="/home">
                <img src="/src/img/logo.png" id="logo">
                </a>
                <button class="circle" id="circle"></button>
                <div class="header-button">
                    <button class="switch" id="switch">        
                    </button>
                    <div class="icons-user" >
                    <i class='bx bx-user-circle'></i>
                        <div class="dropdown" id="dropdown">
                            <!-- Contenido del menú desplegable -->
                            <ul>  
                                <div class="profile-picture "><img src="/img/dragonite-dropdown.png"></div>
                                <a id="usuario-dropdown">¡Bienvenido <%= user %> !</a>
                                <li><a href="place_holder"><i class='bx bx-user'></i>View Profile</a></li>
                                <li><a href="place_holder"><i class='bx bx-cog' ></i>Configuration</a></li>
                                <li><a href="place_holder"><i class='bx bx-star' ></i>Premium Plan</a></li>
                                <li><a href="/logout"><i class='bx bx-log-out' ></i>Log Out</a></li>
                            </ul>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class = "card">
            <p class = "texto">Still working on this page...</p>
            <img class = "imagen" src="https://staticg.sportskeeda.com/editor/2023/10/e5a7c-16973884925260-1920.jpg?w=640"></div>
    </main>
    <footer>
        <div id="footer-container"></div>
    </footer>
    <script src="/jscript/pokebal_animation.js"></script>

    
</body>
</html>