


.header {
    background-color: red;
    position: fixed;
    width: 100%;
    height: 50vh;
    transition: height 2s ease;
    z-index: 20;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    border-bottom: 0.5rem solid black;

}

.circle {
    border-radius: 50%;
    background-color: white;
    border: 0.5rem solid black;
    height: 6rem;
    width: 6rem;
    transform: translateX(-50%) translateY(50%);
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 22;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#logo{
    transform: translateY(-50%);
    height: 12vh;
    background-color: red;
    position:relative;
    top: 50%;
    left: 4vw;
    opacity: 0;
    transition: opacity 2s ease;
}



.header.active {
    height: 15vh;
    
}

#logo.active {
    opacity: 100;
}

@media screen and (max-width: 768px) {
    #logo {
        height: 8vh;
    }
    
}
