body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F4EAEA;
}

.container {
    display: flex;
    margin-left: 2rem;
}

.pokemon-card {
    background-color: #D9D9D9;
    border-radius: 15px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4,11rem);
    gap: 0rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 85px; 
    width: 48rem; 
    margin-top: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#espacio{
    height: 10rem;
}

.frame{
    margin: 0.5rem;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:grey solid;
    height: 4.5rem;
    width: 4.5rem;
}

.frame img {
    align-items: center;
    justify-content: center;
    height: 4.5rem;
}

ul img{
    width: 14px;
}

frame img {
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 100%;
    height: 100%;
}

.pokemon-details {
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
    transform: translateX(-4rem);
}

.pokemon-list {
    list-style: none;
    padding: 0;    
}

#ivMinus{
    color: blue;
}

#ivPlus{
    color: red;
}

.pokemon-list li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 12px;
    margin-bottom: 2px;
    font-weight: bold;
}

.pokemon-list li img {
    margin-right: 2px;
    width: 20px;
    height: 20px;
}

.details-column {
    margin-top: -1rem;
    list-style: none;
    padding: 0;
    width: 7rem;
    transform: translateX(-4rem);
}

.stats {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    height: 70px;
    margin-left: 3rem;
    border-radius: 10px;
    box-shadow: inset 0 10px 1px -6px rgba(0, 0, 0, 0.3);
    font-size: 12px;
    display: flex;
    align-items: center;
    transform: translateX(-8rem);
}

.stats th, td{
    padding-left: 1rem;
    
}

.negrita {
    font-weight: bold;
}

.right-panel {
    width: 30%;
    padding: 0 20px;
    margin-left: 56vw;
    margin-top: -44rem;
    display: flex;
    flex-direction: row;
    
}

.import-card{
    background-color: red;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 45px;
    font-weight: bold;
    height: 25px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

}

.import-card:active{
    transform: translateY(1px);
}

.user-card,
.team-card {
    background-color: rgba(164, 164, 164, 0.6);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 180px;
    height: 25px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.team-card a{
    align-items: center;
}

.team-description {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    height: 560px;
    width: 785px;
    margin-left: 58rem;
    overflow-y: auto; 
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    border: 2px solid #ccc; 
}

/*############################ MEDIA QUERY ##################################*/

@media screen and (max-width: 768px) {
    .pokemon-card {
        background-color: #D9D9D9;
        border-radius: 15px;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(4,10%);
        gap: 6rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: 5.5rem; 
        margin-top: 1rem;
        margin-left: 0px;
        margin-right: 0px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        width: 95%;

    }

    .head{
        width:100%;
    }

    .stats th, td{
        padding-left: 0rem;

    }
    .stats {
        background-color: #fff;
        border-radius: 10px;
        padding: 10px;
        width: 11rem;
        height: 70px;
        margin-left: 3rem;
        border-radius: 10px;
        box-shadow: inset 0 10px 1px -6px rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        transform: translateX(-8rem);
    }

    .right-panel {
        width: 100%;
        margin-top: -66rem;
        display: flex;
        flex-direction: row;
        transform: translateX(-21.5rem);
    }

    #espacio{
        height: 15rem;
    }
    
    .team-description {
        padding: 10px;
        height: 300px;
        width: 90%;
        margin: 5%;
        overflow-y: none; 
    }

    .team-card {
        margin-top: 15rem;
    }  
    .user-card {
        margin-top: 15rem;
    }   
    .import-card {
        margin-top: 68rem;
    }  
}